{% block head_scripts %}
  <script type="module" src="/mr_hud/static/js/session-hud.js"></script>
  <style>
    /*.page-container {
      display: flex;
       height: 100vh;
      width: 100%;
    } */
    .hud {
      height: 25vh;
      width: 100%;
    }
    /* .main {
    } */
  </style>
{% endblock %}
    

