   
    {% block content %}
    <div class="main">
        <details class="hud" open>
          <summary>Session Data</summary>
          <session-hud></session-hud>
        </details>

        <chat-ai sessionid="{{ log_id }}" agent_name="{{ agent_name }}"></chat-ai>
    </div>
    {% endblock %}

