   
    {% block content %}
    <div class="main">
        <details class="hud" open>
          <summary>Session Data</summary>
          <session-hud style="display: block;"></session-hud>
        </details>

        <chat-ai sessionid="{{ log_id }}" style="height: 50vh !important;" agent_name="{{ agent_name }}"></chat-ai>
    </div>
    {% endblock %}

